@font-face {
  font-family: aliens;
  src: url(../assets/aliens.ttf);
}
@font-face {
  font-family: fat;
  src: url(../assets/bigjohn.otf);
}
@font-face {
  font-family: slim;
  src: url(../assets/slimjoe.otf);
}
@font-face {
  font-family: regular;
  src: url(../assets/kelson.otf);
}
@font-face {
  font-family: anders;
  src: url(../assets/anders.ttf);
}
html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/** VARIABLES--COLOURS **/
/** VARIABLES--SCREEN SIZE **/
.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.font-aliens {
  font-family: aliens, serif;
  font-weight: normal;
}

.letter-space-0_5 {
  letter-spacing: 0.5em;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.background-gradient-black {
  background: #1e1e1e;
  background: linear-gradient(0deg, #1e1e1e 0%, #3e3e3e 100%);
}

.background-gradient-green {
  background: #1f3035;
  background: linear-gradient(0deg, #32505a 0%, #1f3035 100%);
}

.scroll {
  position: fixed;
  left: 0;
  height: 100%;
}

.font-size-_3 {
  font-size: 0.3em;
  font-weight: 100;
}

.background-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10em;
  color: #ffe08a;
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
}
@media screen and (max-width: 1024px) {
  .background-text {
    font-size: 8em;
  }
}
@media screen and (max-width: 768px) {
  .background-text {
    font-size: 6em;
  }
}
@media screen and (max-width: 640px) {
  .background-text {
    font-size: 4em;
  }
}
@media screen and (max-width: 320px) {
  .background-text {
    font-size: 2em;
  }
}

.arrow-font {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10em;
  color: #ffe08a;
}

.m-l-200 {
  margin-left: 200px;
}

.m-l-350 {
  margin-left: 350px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t--30 {
  margin-top: -30px;
}

.m-r-8 {
  margin-right: 8px;
}

.w-100 {
  width: 100%;
}

.social-media {
  color: #ffe08a;
  font-size: 1.8em;
}

.scalable-logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: left top;
}

.name {
  margin-left: 30%;
}

.portfolio {
  font-family: anders, serif;
  font-weight: normal;
  font-size: 0.5em;
}

.logo-background {
  background-image: url("../img/logo-kulikowski-gold.png");
  background-size: cover;
  width: 550px;
  height: 550px;
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
}
@media screen and (max-width: 1920px) {
  .logo-background {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 1366px) {
  .logo-background {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 1024px) {
  .logo-background {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .logo-background {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 640px) {
  .logo-background {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 320px) {
  .logo-background {
    width: 200px;
    height: 200px;
  }
}

.round-border {
  position: relative;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
}

.position-arrow {
  position: fixed;
  transform: translate(-50%, 0);
  transform-origin: left top;
  bottom: 32px;
  left: 50%;
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
}

.right-bottom {
  position: fixed;
  transform: translate(-50%, 0) scale(0.6);
  transform-origin: left top;
  bottom: 8px;
  left: 100%;
  margin-left: -19px;
  margin-bottom: -19px;
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
}

.rotate-180 {
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
  transform: rotate(180deg);
}

.centerize-arrow {
  justify-content: center;
}

.move-up-down {
  z-index: 2;
  position: relative;
}

.move-up-down:hover {
  position: relative;
  transform: translateY(0);
  will-change: transform;
  animation: MoveUpDown 1s cubic-bezier(1, 0.66, 0, 0.24) infinite;
}

.website-element {
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  filter: sepia(70%);
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
  animation: MoveUpDownWebsites 5s linear infinite;
}

.website-element:hover {
  filter: sepia(0);
  transition: 1s cubic-bezier(0.75, 0.17, 0.54, 0.69);
}

.element-1 {
  background-image: url("../img/web/ekomar-layout.jpg");
  animation-delay: 1s;
}

.element-2 {
  background-image: url("../img/web/bustaxi-layout.png");
  animation-delay: 500ms;
}

.element-3 {
  background-image: url("../img/web/rajdykonne-layout.jpg");
}

.element-4 {
  background-image: url("../img/web/tpr-layout.png");
  animation-delay: 2s;
}

.rotate-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #ffe08a dashed thin;
  border-radius: 70px;
  box-sizing: border-box;
  animation: Rotate 10s linear infinite;
  transform: rotate(180deg);
}

.rotate-rev {
  /*animation: RotateRev 10s linear infinite;*/
}

.translate-smaller {
  transform: scale(0.3);
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
@keyframes MoveUpDownWebsites {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes RotateRev {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
