@font-face {
  font-family: aliens;
  src: url(../assets/aliens.ttf);
}

@font-face {
  font-family: fat;
  src: url(../assets/bigjohn.otf);
}

@font-face {
  font-family: slim;
  src: url(../assets/slimjoe.otf);
}

@font-face {
  font-family: regular;
  src: url(../assets/kelson.otf);
}

@font-face {
  font-family: anders;
  src: url(../assets/anders.ttf);
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/** VARIABLES--COLOURS **/
$gold-color: #ffe08a;
$background-gradient-black-light: rgba(62, 62, 62, 1);
$background-gradient-black-dark: rgba(30, 30, 30, 1);
$background-gradient-green-light: rgba(50, 80, 90, 1);
$background-gradient-green-dark: rgba(31, 48, 53, 1);
$background-gradient-blue-dark: rgba(33, 48, 71, 1);
$background-gradient-blue-light: rgba(37, 50, 70, 1);
$background-gradient-red-dark: rgba(152, 48, 55, 1);
$background-gradient-red-light: rgba(196, 66, 75, 1);

/** VARIABLES--SCREEN SIZE **/

$xSmall-width: "screen and (max-width: 320px)";
$small-width: "screen and (max-width: 640px)";
$medium-width: "screen and (max-width: 768px)";
$large-width: "screen and (max-width: 1024px)";
$xLarge-width: "screen and (max-width: 1366px)";
$xxLarge-width: "screen and (max-width: 1920px)";

.w-80 {
  width: 90%;
}

.m-t-150 {
  margin-top: 150px;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.font-aliens {
  font-family: aliens, serif;
  font-weight: normal;
}

.letter-space-0_5 {
  letter-spacing: .5em;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.neumorphic-shadow-social {
  border-radius: 5px;
  padding: 3.6px 5px;
}

.neumorphic-shadow {
  box-shadow: #000000 2px 2px 4px,
  #4d4d4d -2px -2px 4px;
}

.background-gradient-black {
  background: $background-gradient-black-dark;
  background: linear-gradient(0deg, $background-gradient-black-dark 0%, $background-gradient-black-light 100%);
}

.background-gradient-green {
  background: $background-gradient-green-dark;
  background: linear-gradient(0deg, $background-gradient-green-light 0%, $background-gradient-black-dark 100%);
}

.background-gradient-blue {
  background: $background-gradient-blue-dark;
  background: linear-gradient(0deg, $background-gradient-green-light 0%, $background-gradient-green-light 100%);
}

.background-gradient-red {
  background: $background-gradient-red-dark;
  background: linear-gradient(0deg, $background-gradient-red-light 0%, $background-gradient-green-light 100%);
}

.background-gradient-grey {
  background: $background-gradient-black-dark;
  background: linear-gradient(0deg, $background-gradient-black-dark 30%, $background-gradient-red-light 100%);
}

.scroll {
  position: fixed;
  left: 0;
  height: 100%;
}

.font-size-_3 {
  font-size: .3em;
  font-weight: 100;
}

.background-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10em;
  color: $gold-color;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
  @media #{$large-width}{
    font-size: 8em;
  }
  @media #{$medium-width}{
    font-size: 6em;
  }
  @media #{$small-width}{
    font-size: 4em;
  }
  @media #{$xSmall-width}{
    font-size: 2em;
  }
}

.arrow-font {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10em;
  color: $gold-color;
}

.m-l-200 {
  margin-left: 200px;
}

.m-l-350 {
  margin-left: 350px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-160 {
  margin-top: 160px;
}

.m-t--30 {
  margin-top: -30px;
}

.m-r-8 {
  margin-right: 8px;
}

.w-100 {
  width: 100%;
}

.opacity-0 {
  opacity: 0;
}

.clear-button {
  background: none;
  border: none;
}

.centerize-image{
  display: flex !important;
  justify-content: center;
}

.social-media {
  padding: 5px;
  margin: 25px;
  color: $gold-color;
  font-size: 1.8em;
  z-index: 10;
}

.scalable-logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: left top;
  z-index: 100;
}

.name {
  margin-left: 30%;
}

.portfolio {
  font-family: anders, serif;
  font-weight: normal;
  font-size: .5em;
}

.logo-background {
  background-image: url("../img/logo-kulikowski-gold.png");
  background-size: cover;
  width: 550px;
  height: 550px;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
  @media #{$xxLarge-width}{
    width: 500px;
    height: 500px;
  }
  @media #{$xLarge-width}{
    width: 450px;
    height: 450px;
  }
  @media #{$large-width}{
    width: 350px;
    height: 350px;
  }
  @media #{$medium-width}{
    width: 300px;
    height: 300px;
  }
  @media #{$small-width}{
    width: 250px;
    height: 250px;
  }
  @media #{$xSmall-width}{
    width: 200px;
    height: 200px;
  }
}

.round-border {
  position: relative;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
}

.round-border-back {
  position: relative;
  width: 85px;
  height: 85px;
  box-sizing: border-box;
}

.fit-whole-screen {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(0deg, $background-gradient-green-light 0%, $background-gradient-green-dark 100%);
}

.position-arrow {
  position: fixed;
  z-index: 0;
  transform: translate(-50%, 0);
  transform-origin: left top;
  bottom: 32px;
  left: 50%;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
}

.position-arrow-back {
  position: absolute;
  z-index: 10;
  transform-origin: left top;
  bottom: 32px;
  left: 15%;
  top: 15%;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
  animation: MoveUpDown 10s linear infinite;
}

.position-arrow-prev {
  //position: absolute;
  margin-left: 20px;
  z-index: 10;
  transform-origin: left top;
  bottom: 32px;
  left: 25%;
  top: 50%;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
  animation: MoveUpDown 10s linear infinite;
}

.position-arrow-next {
  //position: absolute;
  margin-right: 20px;
  z-index: 10;
  transform-origin: left top;
  bottom: 32px;
  right: 25%;
  top: 50%;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
  animation: MoveUpDown 10s linear infinite;
}

.position-arrow-close {
  position: absolute;
  z-index: 10;
  transform-origin: left top;
  bottom: 32px;
  right: 15%;
  top: 15%;
}

.right-bottom {
  position: fixed;
  transform: translate(-50%, 0) scale(.6);
  transform-origin: left top;
  bottom: 8px;
  left: 100%;
  margin-left: -19px;
  margin-bottom: -19px;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
}

.right-bottom-up {
  position: fixed;
  transform: translate(-50%, 0) scale(.6);
  transform-origin: left top;
  bottom: 50px;
  left: 100%;
  margin-left: -19px;
  margin-bottom: -19px;
  transition: 1s cubic-bezier(.75, .17, .54, .69);
}

.rotate-180 {
  transition: 1s cubic-bezier(.75, .17, .54, .69);
  transform: rotate(180deg);
}

.centerize-arrow {
  justify-content: center;
}

.move-up-down {
  z-index: 2;
  position: relative;
}

.move-up-down:hover {
  position: relative;
  transform: translateY(0);
  will-change: transform;
  animation: MoveUpDown 1s cubic-bezier(1, 0.66, 0, 0.24) infinite;
}

.move-left-right {
  z-index: 2;
  position: relative;
}

.move-left-right:hover {
  position: relative;
  transform: translateY(0);
  will-change: transform;
  animation: MoveLeftRight 1s cubic-bezier(1, 0.66, 0, 0.24) infinite;
}

.move-right-left {
  z-index: 2;
  position: relative;
}

.move-right-left:hover {
  position: relative;
  transform: translateY(0);
  will-change: transform;
  animation: MoveRightLeft 1s cubic-bezier(1, 0.66, 0, 0.24) infinite;
}

.display-none {
  display: none;
}

.visibility-none {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visibility-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.slick-prev {

}

.websites-rotator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 140px;
  padding-left: 50px;
  padding-right: 50px;
}

.websites-rotator-fixed {
  position: absolute;
  flex-direction: row;
}

.website-element-div {
  margin-top: 30px;
}

.website-element {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 250px;
  height: 400px;
  filter: sepia(70%);
  //transition: 1s cubic-bezier(.75, .17, .54, .69);
  //animation: MoveUpDownWebsites 5s linear infinite;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.websites-text-size {
  width: 400px;
  text-align: justify;
  color: $gold-color;
}

.website-element-one {
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 80%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
  }
}

.element-big {
  width: 100%;
}

.scale-website-element {
  transform: scale(1.25);
}

.website-element:hover {
  filter: sepia(0);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.logo-list {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  padding: 20px;

}

.logo-thumbnail {
  flex: 0 1 calc(25% - 20px);
  height: 200px;
  width: 200px;
  margin: 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-thumbnail-image {
  height: 100%;
  border-radius: 27px;
  background: linear-gradient(145deg, #365660, #2d4851);
  box-shadow: 7px 7px 14px #243940,
  -7px -7px 14px #416774;
  //width: 100%;
}

.logo-thumbnail-lightbox {
  background: rgba(0, 0, 0, .65);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-thumbnail-big {
  height: 60%;
  background: rgba(220, 223, 223, 1);
  border-radius: 27px;
}

.logo-thumbnail-image-big {
  height: 100%;
  //width: 100%;
}

.element-1 {
  animation-delay: 1s;
  margin-left: -9000px;
}

.element-2 {
  animation-delay: 500ms;
  margin-left: -6000px;
  transform: scale(1.25);

}

.element-3 {
  margin-left: -4000px;
}

.element-4 {
  animation-delay: 2s;
  margin-left: -2000px;
}

.other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 180px;
}

.other-image {
  width: 500px;
  z-index: 11;

  img {
    width: 100%;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

.other-group {
  display: flex;
}

.other-text {
  border: #000 solid thick;
  width: 300px;
  margin-left: -100px;
  margin-top: -50px;
  z-index: 10;
}

.other-text-size {
  text-align: justify;
  color: $gold-color;
  font-size: 2.5em;
  font-family: aliens;
  text-transform: uppercase;
}

.other-1 {
  margin-bottom: 50px;
  height: 350px;
  margin-left: 250px;

  .other-text-size {
    padding: 30px 30px 30px 130px;
  }
}

.other-2 {
  height: 350px;
  margin-right: -50px;
  margin-bottom: 150px;

  .other-text {
    margin-right: -50px;
  }

  .other-text-size {
    padding: 30px 130px 30px 30px;
  }

  .other-image {
    width: 350px;
  }
}

.other-3 {
  height: 350px;
  margin-left: 350px;
  margin-bottom: 30px;

  .other-text {
    margin-right: -50px;
    height: 250px;
    width: 350px;
  }

  .other-text-size {
    padding: 30px 30px 30px 130px;
  }

  .other-image {
    width: 350px;
  }
}

.other-4 {
  height: 450px;
  margin-left: 100px;
  margin-bottom: 70px;

  .other-text {
    margin-right: -80px;
    height: 450px;
    width: 350px;
  }

  .other-text-size {
    padding: 30px 180px 30px 30px;
  }

  .other-image {
    width: 350px;
  }
}

.contact-header {
  font-size: 8em;
  font-family: slim;
  color: rgba(255, 224, 138, .4);
  //text-shadow: 1px 1px 2px #000000;
}

.contact-input {
  font-family: regular;
  color: $gold-color;
  font-size: 1.5em;
  width: 400px;
  padding: 5px 5px;
  border: none;
  border-bottom: rgba(255, 224, 138, .4) solid medium;
  background: transparent;
}

.contact-text {
  font-size: 1em;
}

.contact-label {
  font-family: regular;
  color: $gold-color;
}

.contact-submit {
  border: rgba(255, 224, 138, .4) solid medium;
  background: transparent;
  color: $gold-color;
  width: 410px;
  height: 40px;
  font-family: regular;
  letter-spacing: 2px;
  transition: 300ms cubic-bezier(.42, 0, 1, 1);

  &:hover {
    background: rgba(255, 224, 138, .4);
    border: rgba(255, 224, 138, 0);
    color: $background-gradient-black-dark;
    transition: 300ms cubic-bezier(.42, 0, 1, 1);
  }
}

.contact-submit-done {
  margin-top: 30px;
  width: 410px;
  height: 25px;
  text-align: center;
  font-family: regular;
  font-size: 1.3em;
  letter-spacing: .3em;
  color: $gold-color;
  display: none;
  transition: 300ms cubic-bezier(.42, 0, 1, 1);

}

.slide-in-left {
  margin-left: 0;
  will-change: transform;
  transition: 1s cubic-bezier(.42, 0, 1, 1) !important;
}

.rotate-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: $gold-color dashed thin;
  border-radius: 70px;
  box-sizing: border-box;
  animation: Rotate 10s linear infinite;
  transform: rotate(180deg);
}

.rotate-rev {
  /*animation: RotateRev 10s linear infinite;*/
}

.translate-smaller {
  transform: scale(.3);
}

@keyframes MoveUpDown {

  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes MoveLeftRight {

  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

@keyframes MoveRightLeft {

  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes MoveUpDownWebsites {

  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes RotateRev {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
