@font-face {
  font-family: aliens;
  src: url(../assets/aliens.ttf);
}

@font-face {
  font-family: fat;
  src: url(../assets/bigjohn.otf);
}

@font-face {
  font-family: slim;
  src: url(../assets/slimjoe.otf);
}

@font-face {
  font-family: regular;
  src: url(../assets/kelson.otf);
}

@font-face {
  font-family: anders;
  src: url(../assets/anders.ttf);
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/** VARIABLES--COLOURS **/
$gold-color: #ffe08a;
$background-gradient-black-light: rgba(62, 62, 62, 1);
$background-gradient-black-dark: rgba(30, 30, 30, 1);
$background-gradient-green-light: rgba(50, 80, 90, 1);
$background-gradient-green-dark: rgba(31, 48, 53, 1);

/** VARIABLES--SCREEN SIZE **/

$xSmall-width: "screen and (max-width: 320px)";
$small-width: "screen and (max-width: 640px)";
$medium-width: "screen and (max-width: 768px)";
$large-width: "screen and (max-width: 1024px)";
$xLarge-width: "screen and (max-width: 1366px)";
$xxLarge-width: "screen and (max-width: 1920px)";


.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.font-aliens {
  font-family: aliens, serif;
  font-weight: normal;
}

.letter-space-0_5 {
  letter-spacing: .5em;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.fixed-top-left {
  position: fixed;
  top: 0;
  right: 0;
}

.background-gradient-black {
  background: $background-gradient-black-dark;
  background: linear-gradient(0deg, $background-gradient-black-dark 0%, $background-gradient-black-light 100%);
}

.background-gradient-green {
  background: $background-gradient-green-dark;
  background: linear-gradient(0deg, $background-gradient-green-light 0%, $background-gradient-green-dark 100%);
}

.scroll {
  position: fixed;
  left: 0;
  height: 100%;
}

.font-size-_3 {
  font-size: .3em;
  font-weight: 100;
}

.background-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10em;
  color: $gold-color;
  @media #{$large-width}{
    font-size: 8em;
  }
  @media #{$medium-width}{
    font-size: 6em;
  }
  @media #{$small-width}{
    font-size: 4em;
  }
  @media #{$xSmall-width}{
    font-size: 2em;
  }
}

.m-l-200 {
  margin-left: 200px;
}

.m-l-350 {
  margin-left: 350px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-15{
  margin-top: 15px;
}

.m-t--30 {
  margin-top: -30px;
}

.m-r-15 {
  margin-right: 15px;
}

.social-media {
  color: $gold-color;
  font-size: 1.8em;
}

.scalable-logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: left top;
}

.name {
  margin-left: 30%;
}

.portfolio {
  font-family: anders, serif;
  font-weight: normal;
  font-size: .5em;
}

.logo-background {
  background-image: url("../img/logo-kulikowski-gold.png");
  background-size: cover;
  width: 550px;
  height: 550px;
  @media #{$xxLarge-width}{
    width: 500px;
    height: 500px;
  }
  @media #{$xLarge-width}{
    width: 450px;
    height: 450px;
  }
  @media #{$large-width}{
    width: 350px;
    height: 350px;
  }
  @media #{$medium-width}{
    width: 300px;
    height: 300px;
  }
  @media #{$small-width}{
    width: 250px;
    height: 250px;
  }
  @media #{$xSmall-width}{
    width: 200px;
    height: 200px;
  }
}

.round-border {
  position: relative;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
}

.position-arrow {

}

.centerize-arrow {
  justify-content: center;
}

.move-up-down {
  z-index: 2;
  position: relative;
}

.move-up-down:hover {
  position: relative;
  transform: translateY(0);
  will-change: transform;
  animation: MoveUpDown 1s cubic-bezier(1, 0.66, 0, 0.24) infinite;
}

.rotate-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: $gold-color dashed thin;
  border-radius: 70px;
  box-sizing: border-box;
  animation: Rotate 10s linear infinite;
  transform: rotate(180deg);
}

.rotate-rev {
  /*animation: RotateRev 10s linear infinite;*/
}

.translate-smaller {
  transform: scale(.3);
}

@keyframes MoveUpDown {

  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes RotateRev {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
